// Styles for UI Demos
.alrt [class*='alert'] {
  margin: 10px 0;
}

// These Demo Styles Make the Grid Visible.
.gridDemo [class*='col-'] { padding-right: 0px !important; padding-left: 5px !important; }
.gridDemo [class*='col-'] > p { background-color: #bebebe; padding: 10px; margin-bottom: 0; border-radius: 4px; font-size: 0.8rem; text-align: center; color: #6c757d; }

code {
  font-size: 95%;
  color: #e83e8c;
  word-break: break-word; }
