// These Demo Styles Make the Grid Visible.
.gridDemo [class*='col-'] { padding-right: 5px !important; }
.gridDemo [class*='col-'] > p { background-color: #68a097; padding: 10px; margin-bottom: 0; border-radius: 4px; font-size: 0.8rem; text-align: center; color: #fff; }
* { outline: 0; }