/* --- Delete, modify, or use the scss files in the scss folder to create your own to start styling you own app. --- */
/*
  * BonsaiApp - Clean: CSS
  * Version: 0.0.1
  * Author: Brian Orr @digitalreligion
  * Author URL: http://www.digitalreligion.net/
  * Github: https://github.com/DrkDevil
*/
/*  Allow angular.js to be loaded in body, hiding cloaked elements until templates compile. */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

/* Global Resets and Styling ------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px; }

h2 {
  font-size: 2.0rem;
  margin-bottom: 30px; }

.center-content {
  text-align: center; }

.flexCon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.fixed {
  position: fixed !important; }

.fixed-top {
  position: fixed !important;
  top: 0; }

.fixed-bottom {
  position: fixed !important;
  bottom: 0; }

.flt-left {
  float: left; }

.flt-right {
  float: right; }

.responsive-img {
  width: 100%;
  height: auto; }

/* ----- Bonsai UI Grid System ----- */
/* Removes padding behaviour on widths */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid Container */
.grid, .grid-fw {
  padding: 15px 15px 0 15px;
  margin: 0 auto; }

/* Row Clearfix */
.row:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* Column attribute selector */
[class*='col-'] {
  position: relative;
  float: left;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding-right: 50px;
  min-height: 1px; }

/* Floats last ".col-" to the right */
[class*='col-']:last-of-type {
  padding-right: 0; }

/* Removes floats on mobile phones */
@media (max-width: 419px) {
  [class*='col-'] {
    padding-right: 0; } }
@media (min-width: 420px) {
  .grid {
    width: -webkit-calc( 420px - 60px);
    width: -moz-calc( 420px - 60px);
    width: calc( 420px - 60px); } }
@media (min-width: 768px) {
  .grid {
    width: -webkit-calc( 768px - 60px);
    width: -moz-calc( 768px - 60px);
    width: calc( 768px - 60px); } }
@media (min-width: 992px) {
  .grid {
    width: -webkit-calc( 992px - 60px);
    width: -moz-calc( 992px - 60px);
    width: calc( 992px - 60px); } }
@media (min-width: 1200px) {
  .grid {
    width: -webkit-calc( 1200px - 60px);
    width: -moz-calc( 1200px - 60px);
    width: calc( 1200px - 60px); } }
@media (min-width: 420px) {
  .col-1xs {
    width: 8.33333%; }

  .offset-1xs {
    margin-left: 8.33333%; }

  .col-2xs {
    width: 16.66667%; }

  .offset-2xs {
    margin-left: 16.66667%; }

  .col-3xs {
    width: 25%; }

  .offset-3xs {
    margin-left: 25%; }

  .col-4xs {
    width: 33.33333%; }

  .offset-4xs {
    margin-left: 33.33333%; }

  .col-5xs {
    width: 41.66667%; }

  .offset-5xs {
    margin-left: 41.66667%; }

  .col-6xs {
    width: 50%; }

  .offset-6xs {
    margin-left: 50%; }

  .col-7xs {
    width: 58.33333%; }

  .offset-7xs {
    margin-left: 58.33333%; }

  .col-8xs {
    width: 66.66667%; }

  .offset-8xs {
    margin-left: 66.66667%; }

  .col-9xs {
    width: 75%; }

  .offset-9xs {
    margin-left: 75%; }

  .col-10xs {
    width: 83.33333%; }

  .offset-10xs {
    margin-left: 83.33333%; }

  .col-11xs {
    width: 91.66667%; }

  .offset-11xs {
    margin-left: 91.66667%; }

  .col-12xs {
    width: 100%; }

  .offset-12xs {
    margin-left: 100%; } }
@media (min-width: 768px) {
  .col-1sm {
    width: 8.33333%; }

  .offset-1sm {
    margin-left: 8.33333%; }

  .col-2sm {
    width: 16.66667%; }

  .offset-2sm {
    margin-left: 16.66667%; }

  .col-3sm {
    width: 25%; }

  .offset-3sm {
    margin-left: 25%; }

  .col-4sm {
    width: 33.33333%; }

  .offset-4sm {
    margin-left: 33.33333%; }

  .col-5sm {
    width: 41.66667%; }

  .offset-5sm {
    margin-left: 41.66667%; }

  .col-6sm {
    width: 50%; }

  .offset-6sm {
    margin-left: 50%; }

  .col-7sm {
    width: 58.33333%; }

  .offset-7sm {
    margin-left: 58.33333%; }

  .col-8sm {
    width: 66.66667%; }

  .offset-8sm {
    margin-left: 66.66667%; }

  .col-9sm {
    width: 75%; }

  .offset-9sm {
    margin-left: 75%; }

  .col-10sm {
    width: 83.33333%; }

  .offset-10sm {
    margin-left: 83.33333%; }

  .col-11sm {
    width: 91.66667%; }

  .offset-11sm {
    margin-left: 91.66667%; }

  .col-12sm {
    width: 100%; }

  .offset-12sm {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-1md {
    width: 8.33333%; }

  .offset-1md {
    margin-left: 8.33333%; }

  .col-2md {
    width: 16.66667%; }

  .offset-2md {
    margin-left: 16.66667%; }

  .col-3md {
    width: 25%; }

  .offset-3md {
    margin-left: 25%; }

  .col-4md {
    width: 33.33333%; }

  .offset-4md {
    margin-left: 33.33333%; }

  .col-5md {
    width: 41.66667%; }

  .offset-5md {
    margin-left: 41.66667%; }

  .col-6md {
    width: 50%; }

  .offset-6md {
    margin-left: 50%; }

  .col-7md {
    width: 58.33333%; }

  .offset-7md {
    margin-left: 58.33333%; }

  .col-8md {
    width: 66.66667%; }

  .offset-8md {
    margin-left: 66.66667%; }

  .col-9md {
    width: 75%; }

  .offset-9md {
    margin-left: 75%; }

  .col-10md {
    width: 83.33333%; }

  .offset-10md {
    margin-left: 83.33333%; }

  .col-11md {
    width: 91.66667%; }

  .offset-11md {
    margin-left: 91.66667%; }

  .col-12md {
    width: 100%; }

  .offset-12md {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-1lg {
    width: 8.33333%; }

  .offset-1lg {
    margin-left: 8.33333%; }

  .col-2lg {
    width: 16.66667%; }

  .offset-2lg {
    margin-left: 16.66667%; }

  .col-3lg {
    width: 25%; }

  .offset-3lg {
    margin-left: 25%; }

  .col-4lg {
    width: 33.33333%; }

  .offset-4lg {
    margin-left: 33.33333%; }

  .col-5lg {
    width: 41.66667%; }

  .offset-5lg {
    margin-left: 41.66667%; }

  .col-6lg {
    width: 50%; }

  .offset-6lg {
    margin-left: 50%; }

  .col-7lg {
    width: 58.33333%; }

  .offset-7lg {
    margin-left: 58.33333%; }

  .col-8lg {
    width: 66.66667%; }

  .offset-8lg {
    margin-left: 66.66667%; }

  .col-9lg {
    width: 75%; }

  .offset-9lg {
    margin-left: 75%; }

  .col-10lg {
    width: 83.33333%; }

  .offset-10lg {
    margin-left: 83.33333%; }

  .col-11lg {
    width: 91.66667%; }

  .offset-11lg {
    margin-left: 91.66667%; }

  .col-12lg {
    width: 100%; }

  .offset-12lg {
    margin-left: 100%; } }
.navbar {
  background-color: #2c2c2c;
  width: 100%;
  position: relative;
  z-index: 9000; }

.navbar li {
  display: inline-block;
  padding: 20px 8px; }

.navbar li:active {
  background-color: rgba(59, 59, 59, 0.11); }

.navbar header {
  float: left;
  padding: 20px;
  color: #fff; }

.navbar header a, .navbar header a:hover {
  font-size: 1.0rem; }

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: .8rem; }

.navbar a:hover {
  text-decoration: none;
  color: #bbb;
  font-size: .8rem; }

.bonsaiIntro {
  margin-top: 22%;
  color: #2b2b2b; }

.bonsaiIntro h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-left: -4px;
  color: #a33636; }

.bonsaiIntro h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.0rem;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 20px; }

.bonsaiIntro p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1.5rem; }

.bonsaiIntro p:last-of-type {
  margin-bottom: 35px; }

.seedFeature {
  font-weight: 500;
  font-style: italic;
  color: #461617; }

[class*='btn-'] {
  border-radius: 3px;
  margin-bottom: 10px; }

.btn-outlined {
  padding: 15px;
  border: 1px solid #2b2b2b;
  background: transparent;
  cursor: pointer;
  font-size: 1.0rem;
  font-family: "Roboto", sans-serif; }

.btn-outlined:hover {
  color: #fff;
  border: 1px solid #4a0909;
  background: #a33636;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.btn-solid {
  padding: 15px;
  color: #cecece;
  border: 1px solid #2b2b2b;
  background: #2b2b2b;
  cursor: pointer;
  font-size: 1.0rem;
  font-family: "Roboto", sans-serif; }

.btn-solid:hover {
  border: 1px solid #4a0909;
  background: #a33636;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.shade:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: -2;
  background: rgba(174, 179, 171, 0);
  background: -moz-linear-gradient(top, rgba(174, 179, 171, 0) 0%, rgba(174, 179, 171, 0.47) 29%, #aeb3ab 62%, #aeb3ab 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(174, 179, 171, 0)), color-stop(29%, rgba(174, 179, 171, 0.47)), color-stop(62%, #aeb3ab), color-stop(100%, #aeb3ab));
  background: -webkit-linear-gradient(top, rgba(174, 179, 171, 0) 0%, rgba(174, 179, 171, 0.47) 29%, #aeb3ab 62%, #aeb3ab 100%);
  background: -o-linear-gradient(top, rgba(174, 179, 171, 0) 0%, rgba(174, 179, 171, 0.47) 29%, #aeb3ab 62%, #aeb3ab 100%);
  background: -ms-linear-gradient(top, rgba(174, 179, 171, 0) 0%, rgba(174, 179, 171, 0.47) 29%, #aeb3ab 62%, #aeb3ab 100%); }

.newView body {
  margin-top: 65px;
  background: rgba(174, 179, 171, 0.47); }

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

body {
  background: url("../../img/backgrounds/swirl_pattern.jpg") repeat; }

footer {
  padding: 10px;
  background-color: #2B2B2B;
  color: #bbb;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem; }

footer a {
  color: #a33636;
  text-decoration: none; }

footer a:hover {
  color: #e2e2e2; }

p {
  margin-bottom: 15px; }

.gridDemo [class*='col-'] {
  padding-right: 5px !important; }

.gridDemo [class*='col-'] > p {
  background-color: #004d81;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
  color: #fff; }

* {
  outline: 0; }
