/*
  * Version: 0.0.1
  * Author: Brian Orr @digitalreligion
  * Author URL: http://www.digitalreligion.net/
  * Github: https://github.com/DrkDevil
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

/*
  *    #Grid System Variables:       (Base variables to control the grid system)
	*     -- Base Settings
	*     -- Mixin Breakpoints
	*			   -- Grid Specific
	*        -- Custom Breakpoints
	*
	*    #Typography & Color Scheme Variables:  (Font & Color Scheme declarations)
	*     -- Fonts
	*     -- Context Colors
	*     -- HTML Color Pallete Resets
	*     -- Custom Grey Scale
	*
  *    #Body Variables                                (Basic Common Body Styles)
	*     -- Base body
	*     -- Navbar body top push
	*
	*    #Main Navbar                             (Syles for BonsaiUI Main Navbar)
	*     -- Navbar Base Styles
	*     -- Navbar Links and Hover States
	*     -- Navbar Brand
	*
	*    #Sidebars                      (Styles for left, right, or dual sidebars)
	*     -- Left Sidebar Base
	*     -- Left Sidebar Border Style
	*     -- Left Sidebar navHeader
  *     -- Left Sidebar Link Hover States
	*     -- Right Sidebar Base
	*     -- Right Sidebar Border Style
	*     -- Right Sidebar navHeader
  *     -- Right Sidebar Link Hover States
	*
	*    #Buttons                                               (<button> Styling)
	*     --  Button Base
	*     --  Solid Buttons
	*         --  Solid Button Hover States
	*     --  Outlined Buttons
	*         --  Outlined Button Hover States
	*
	*    #Badges                                                  (Badge Styling)
	*     --  Badge Base
	*
*/
/* Global Resets and Styling ------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #f8f9fa; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Links */
a {
  text-decoration: none; }

/* Fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.0rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.5rem; }

p {
  line-height: 1.5rem;
  margin-bottom: 15px; }

hr {
  margin: 15px auto; }

code {
  font-size: 95%;
  color: #e83e8c;
  word-break: break-word; }

.center-content {
  text-align: center; }

.flexCon {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.fixed {
  position: fixed !important; }

.fixed-top {
  position: fixed !important;
  top: 0; }

.fixed-bottom {
  position: fixed !important;
  bottom: 0; }

.flt-left {
  float: left !important; }

.flt-right {
  float: right !important; }

.responsive-img {
  width: 100%;
  height: auto; }

.show {
  visibility: visible !important; }

.hide {
  visibility: hidden; }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hidden-sm {
    display: none !important; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .hidden-md {
    display: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .hidden-md {
    display: none !important; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.cell {
  border: 1px solid #fff; }

.headline {
  border-bottom: 1px solid #fff; }

/* ----- Bonsai UI Grid System ----- */
/* Removes padding behaviour on widths */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid Container */
.grid, .grid-fw {
  padding: 0 15px;
  margin: 0 auto; }

/* Row Clearfix */
.row {
  margin: 0 -7.5px; }
  .row:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

/* Column attribute selector */
[class*='col-'] {
  position: relative;
  float: left;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  min-height: 1px; }

/* Floats last ".col-" to the right */
/* Removes floats on mobile phones */
@media (min-width: 576px) {
  .grid {
    width: -webkit-calc( 576px - 60px);
    width: -moz-calc( 576px - 60px);
    width: calc( 576px - 60px); } }

@media (min-width: 768px) {
  .grid {
    width: -webkit-calc( 768px - 60px);
    width: -moz-calc( 768px - 60px);
    width: calc( 768px - 60px); } }

@media (min-width: 992px) {
  .grid {
    width: -webkit-calc( 992px - 60px);
    width: -moz-calc( 992px - 60px);
    width: calc( 992px - 60px); } }

@media (min-width: 1200px) {
  .grid {
    width: -webkit-calc( 1200px - 60px);
    width: -moz-calc( 1200px - 60px);
    width: calc( 1200px - 60px); } }

@media (min-width: 576px) {
  .col-1xs {
    width: 8.33333%; }
  .offset-1xs {
    margin-left: 8.33333%; }
  .col-2xs {
    width: 16.66667%; }
  .offset-2xs {
    margin-left: 16.66667%; }
  .col-3xs {
    width: 25%; }
  .offset-3xs {
    margin-left: 25%; }
  .col-4xs {
    width: 33.33333%; }
  .offset-4xs {
    margin-left: 33.33333%; }
  .col-5xs {
    width: 41.66667%; }
  .offset-5xs {
    margin-left: 41.66667%; }
  .col-6xs {
    width: 50%; }
  .offset-6xs {
    margin-left: 50%; }
  .col-7xs {
    width: 58.33333%; }
  .offset-7xs {
    margin-left: 58.33333%; }
  .col-8xs {
    width: 66.66667%; }
  .offset-8xs {
    margin-left: 66.66667%; }
  .col-9xs {
    width: 75%; }
  .offset-9xs {
    margin-left: 75%; }
  .col-10xs {
    width: 83.33333%; }
  .offset-10xs {
    margin-left: 83.33333%; }
  .col-11xs {
    width: 91.66667%; }
  .offset-11xs {
    margin-left: 91.66667%; }
  .col-12xs {
    width: 100%; }
  .offset-12xs {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-1sm {
    width: 8.33333%; }
  .offset-1sm {
    margin-left: 8.33333%; }
  .col-2sm {
    width: 16.66667%; }
  .offset-2sm {
    margin-left: 16.66667%; }
  .col-3sm {
    width: 25%; }
  .offset-3sm {
    margin-left: 25%; }
  .col-4sm {
    width: 33.33333%; }
  .offset-4sm {
    margin-left: 33.33333%; }
  .col-5sm {
    width: 41.66667%; }
  .offset-5sm {
    margin-left: 41.66667%; }
  .col-6sm {
    width: 50%; }
  .offset-6sm {
    margin-left: 50%; }
  .col-7sm {
    width: 58.33333%; }
  .offset-7sm {
    margin-left: 58.33333%; }
  .col-8sm {
    width: 66.66667%; }
  .offset-8sm {
    margin-left: 66.66667%; }
  .col-9sm {
    width: 75%; }
  .offset-9sm {
    margin-left: 75%; }
  .col-10sm {
    width: 83.33333%; }
  .offset-10sm {
    margin-left: 83.33333%; }
  .col-11sm {
    width: 91.66667%; }
  .offset-11sm {
    margin-left: 91.66667%; }
  .col-12sm {
    width: 100%; }
  .offset-12sm {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-1md {
    width: 8.33333%; }
  .offset-1md {
    margin-left: 8.33333%; }
  .col-2md {
    width: 16.66667%; }
  .offset-2md {
    margin-left: 16.66667%; }
  .col-3md {
    width: 25%; }
  .offset-3md {
    margin-left: 25%; }
  .col-4md {
    width: 33.33333%; }
  .offset-4md {
    margin-left: 33.33333%; }
  .col-5md {
    width: 41.66667%; }
  .offset-5md {
    margin-left: 41.66667%; }
  .col-6md {
    width: 50%; }
  .offset-6md {
    margin-left: 50%; }
  .col-7md {
    width: 58.33333%; }
  .offset-7md {
    margin-left: 58.33333%; }
  .col-8md {
    width: 66.66667%; }
  .offset-8md {
    margin-left: 66.66667%; }
  .col-9md {
    width: 75%; }
  .offset-9md {
    margin-left: 75%; }
  .col-10md {
    width: 83.33333%; }
  .offset-10md {
    margin-left: 83.33333%; }
  .col-11md {
    width: 91.66667%; }
  .offset-11md {
    margin-left: 91.66667%; }
  .col-12md {
    width: 100%; }
  .offset-12md {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-1lg {
    width: 8.33333%; }
  .offset-1lg {
    margin-left: 8.33333%; }
  .col-2lg {
    width: 16.66667%; }
  .offset-2lg {
    margin-left: 16.66667%; }
  .col-3lg {
    width: 25%; }
  .offset-3lg {
    margin-left: 25%; }
  .col-4lg {
    width: 33.33333%; }
  .offset-4lg {
    margin-left: 33.33333%; }
  .col-5lg {
    width: 41.66667%; }
  .offset-5lg {
    margin-left: 41.66667%; }
  .col-6lg {
    width: 50%; }
  .offset-6lg {
    margin-left: 50%; }
  .col-7lg {
    width: 58.33333%; }
  .offset-7lg {
    margin-left: 58.33333%; }
  .col-8lg {
    width: 66.66667%; }
  .offset-8lg {
    margin-left: 66.66667%; }
  .col-9lg {
    width: 75%; }
  .offset-9lg {
    margin-left: 75%; }
  .col-10lg {
    width: 83.33333%; }
  .offset-10lg {
    margin-left: 83.33333%; }
  .col-11lg {
    width: 91.66667%; }
  .offset-11lg {
    margin-left: 91.66667%; }
  .col-12lg {
    width: 100%; }
  .offset-12lg {
    margin-left: 100%; } }

[class*='alert'] {
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(12, 12, 12, 0.25); }
  [class*='alert'][class*='-primary'], [class*='alert'][class*='-secondary'], [class*='alert'][class*='-success'], [class*='alert'][class*='-danger'], [class*='alert'][class*='-warning'], [class*='alert'][class*='-info'], [class*='alert'][class*='-dark'] {
    color: #ffffff; }
    [class*='alert'][class*='-primary'] a, [class*='alert'][class*='-secondary'] a, [class*='alert'][class*='-success'] a, [class*='alert'][class*='-danger'] a, [class*='alert'][class*='-warning'] a, [class*='alert'][class*='-info'] a, [class*='alert'][class*='-dark'] a {
      font-weight: 700;
      color: #ffffff; }
      [class*='alert'][class*='-primary'] a:hover, [class*='alert'][class*='-secondary'] a:hover, [class*='alert'][class*='-success'] a:hover, [class*='alert'][class*='-danger'] a:hover, [class*='alert'][class*='-warning'] a:hover, [class*='alert'][class*='-info'] a:hover, [class*='alert'][class*='-dark'] a:hover {
        text-decoration: underline; }
  [class*='alert'][class*='-outlined'] {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid grey; }
    [class*='alert'][class*='-outlined']:hover {
      color: #ffffff;
      border-color: rgba(12, 12, 12, 0.25); }
    [class*='alert'][class*='-outlined'][class*='-primary'] {
      color: #007bff;
      border-color: #007bff; }
      [class*='alert'][class*='-outlined'][class*='-primary'] a {
        color: #007bff; }
        [class*='alert'][class*='-outlined'][class*='-primary'] a:hover {
          color: #0760bf; }
    [class*='alert'][class*='-outlined'][class*='-secondary'] {
      color: #6c757d;
      border-color: #6c757d; }
      [class*='alert'][class*='-outlined'][class*='-secondary'] a {
        color: #6c757d; }
        [class*='alert'][class*='-outlined'][class*='-secondary'] a:hover {
          color: #575e65; }
    [class*='alert'][class*='-outlined'][class*='-success'] {
      color: #28a745;
      border-color: #28a745; }
      [class*='alert'][class*='-outlined'][class*='-success'] a {
        color: #28a745; }
        [class*='alert'][class*='-outlined'][class*='-success'] a:hover {
          color: #23943d; }
    [class*='alert'][class*='-outlined'][class*='-danger'] {
      color: #dc3545;
      border-color: #dc3545; }
      [class*='alert'][class*='-outlined'][class*='-danger'] a {
        color: #dc3545; }
        [class*='alert'][class*='-outlined'][class*='-danger'] a:hover {
          color: #bd2b3a; }
    [class*='alert'][class*='-outlined'][class*='-warning'] {
      color: #ffc107;
      border-color: #ffc107; }
      [class*='alert'][class*='-outlined'][class*='-warning'] a {
        color: #ffc107; }
        [class*='alert'][class*='-outlined'][class*='-warning'] a:hover {
          color: #e6ae06; }
    [class*='alert'][class*='-outlined'][class*='-info'] {
      color: #17a2b8;
      border-color: #17a2b8; }
      [class*='alert'][class*='-outlined'][class*='-info'] a {
        color: #17a2b8; }
        [class*='alert'][class*='-outlined'][class*='-info'] a:hover {
          color: #0e8496; }
    [class*='alert'][class*='-outlined'][class*='-dark'] {
      color: #343a40;
      border-color: #343a40; }
      [class*='alert'][class*='-outlined'][class*='-dark'] a {
        color: #343a40; }
        [class*='alert'][class*='-outlined'][class*='-dark'] a:hover {
          color: #282a36; }

.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem 1.25rem;
  color: inherit; }

[class*='badge'] {
  padding: 0.3em 0.5em;
  line-height: 1;
  border-radius: 0.25rem;
  background-color: #D3D3D3;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }

[class*='pill-badge'] {
  border-radius: 1rem;
  padding: 0.3em 0.8em; }

[class*='badge-light'] {
  border: 1px solid #808080;
  color: grey; }

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  background-color: #D3D3D3;
  color: #808080;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }

.breadcrumb li {
  padding-left: 0.5rem; }

.breadcrumb li:first-of-type {
  padding-left: 0; }

.breadcrumb li:first-child:before {
  content: ""; }

.breadcrumb li::before {
  display: inline-block;
  padding-right: 0.5rem;
  content: "/"; }

.breadcrumb li.active {
  color: #8d1422; }

.card {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd; }
  .card img {
    margin: 0 0 -2px 0; }

[class*='card-title'] {
  padding: 20px;
  border-bottom: 1px solid #ddd; }

.card-body {
  padding: 20px; }

.navbar {
  width: 100%;
  text-align: center;
  z-index: 9000;
  padding: 0 0.75rem;
  background-color: #142029;
  letter-spacing: 0.05rem; }
  .navbar .brand {
    padding: 30px 0 18px 0; }
    .navbar .brand a {
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.125rem; }
    @media only screen and (min-width: 768px) {
      .navbar .brand {
        float: left;
        display: inline-block;
        padding: 22px 18px 0 8px; } }
  .navbar ul {
    display: inline-block; }
    @media only screen and (min-width: 768px) {
      .navbar ul {
        display: inline-block;
        float: left; } }
  .navbar li {
    padding: 0.5rem 0.35rem;
    line-height: 1.875rem;
    float: left; }
    @media only screen and (min-width: 768px) {
      .navbar li {
        padding: 1.1rem 0.35rem; } }
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.75rem; }
    .navbar a:hover {
      text-decoration: none;
      color: #D3D3D3; }
    @media only screen and (min-width: 768px) {
      .navbar a {
        font-size: 0.75rem; } }
    @media only screen and (min-width: 992px) {
      .navbar a {
        font-size: 0.8rem; } }
  .navbar .active a {
    color: #D3D3D3;
    font-weight: 500; }

/* Mobile Default page wrappers padding are zero to start them closed. */
#pageWrapper {
  padding-top: 115px;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* 768px or Higher Display Sidebars. */ }
  @media only screen and (min-width: 768px) {
    #pageWrapper {
      padding-top: 66px;
      padding-left: 280px;
      padding-right: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #pageWrapper #rightSidebar {
        width: 0; } }

#rightSidebar ul {
  width: 250px; }

/* Leftbar Open Toggled */
#pageWrapper.toggled {
  padding-left: 0; }
  #pageWrapper.toggled #leftSidebar {
    width: 280px; }

/* Rightbar Open Toggled */
#pageWrapper.r-toggled {
  padding-right: 0; }
  #pageWrapper.r-toggled #rightSidebar {
    width: 250px !important; }

@media (min-width: 768px) {
  /* Leftbar Closed Toggle */
  #pageWrapper.toggled {
    padding-left: 0; }
    #pageWrapper.toggled #leftSidebar {
      width: 0; }
  /* Rightbar Closed Toggle */
  #pageWrapper.r-toggled {
    padding-right: 0; }
    #pageWrapper.r-toggled #rightSidebar {
      width: 0; } }

/* Mobile Default page wrappers padding are zero to start them closed. */
#pageWrapper-dsb {
  padding-top: 115px;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* 768px or Higher Display Sidebars. */ }
  @media only screen and (min-width: 768px) {
    #pageWrapper-dsb {
      padding-top: 66px;
      padding-left: 280px;
      padding-right: 250px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; } }

/* Leftbar Open Toggled */
#pageWrapper-dsb.toggled {
  padding-left: 0; }
  #pageWrapper-dsb.toggled #leftSidebar {
    width: 280px; }

/* Rightbar Open Toggled */
#pageWrapper-dsb.r-toggled {
  padding-right: 0; }
  #pageWrapper-dsb.r-toggled #rightSidebar {
    width: 250px; }

@media (min-width: 768px) {
  /* Leftbar Closed Toggle */
  #pageWrapper-dsb.toggled {
    padding-left: 0; }
    #pageWrapper-dsb.toggled #leftSidebar {
      width: 0; }
  /* Rightbar Closed Toggle */
  #pageWrapper-dsb.r-toggled {
    padding-right: 0; }
    #pageWrapper-dsb.r-toggled #rightSidebar {
      width: 0; } }

/* Make all sidebars fill the height of the screen,not wrap text, and scroll */
#leftSidebar, #rightSidebar {
  height: 100%;
  z-index: 1000;
  position: fixed;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* Leftbar Closed style */
#leftSidebar {
  white-space: nowrap;
  width: 0;
  left: 280px;
  margin-left: -280px;
  background-color: #282a36;
  /* Leftbar open style */ }
  #leftSidebar a {
    color: #ffffff; }
  @media only screen and (min-width: 768px) {
    #leftSidebar {
      width: 280px; } }
  #leftSidebar .nav-group-extended {
    margin-bottom: 66px; }
    @media only screen and (min-width: 560px) {
      #leftSidebar .nav-group-extended {
        margin-bottom: 115px; } }

/* Rightbar Closed style */
#rightSidebar {
  width: 0;
  right: 250px;
  margin-right: calc(-250px - 17px);
  background-color: #f8f9fa;
  overflow-x: hidden;
  /* Rightbar open style */ }
  #rightSidebar a {
    color: #282a36; }
  @media only screen and (min-width: 768px) {
    #rightSidebar {
      width: 250px; } }

.nav-group {
  padding-bottom: 15px; }

/* Bold Headers for Grouped Navigation  Items */
.navHeader {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

/* Default Hover States for sidebars */
.sidebarItems li {
  font-size: 1rem;
  text-indent: 15px;
  line-height: 2.0rem;
  letter-spacing: .05rem; }
  .sidebarItems li a {
    display: block;
    text-decoration: none; }
    .sidebarItems li a:hover {
      color: #ffffff;
      background: rgba(12, 12, 12, 0.25); }
    .sidebarItems li a:active {
      background: #142029; }
    .sidebarItems li a:focus {
      background: rgba(12, 12, 12, 0.25); }

.sidebarItems .fa-fw {
  width: 47px;
  margin-left: -23px;
  margin-right: 10px; }

#pageWrapper.toggled #leftSidebar:hover, #leftSidebar:hover {
  position: fixed;
  width: 280px; }

#pageWrapper.toggled #leftSidebar:hover .navHeader {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#pageWrapper.toggled #leftSidebar .navHeader {
  color: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

footer {
  padding: 10px;
  background-color: #142029;
  color: #bbb;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.8rem; }

footer a {
  color: #a33636;
  text-decoration: none; }

footer a:hover {
  color: #e2e2e2; }

[class*='btn'] {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border-radius: 3px;
  background-color: #D3D3D3;
  color: #343a40;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  [class*='btn'][class*='-block'] {
    width: 100%; }
  [class*='btn'][class*='-small'] {
    font-size: 12px; }
  [class*='btn'][class*='-large'] {
    font-size: 25px; }
  [class*='btn']:hover {
    border-color: rgba(12, 12, 12, 0.25);
    background: #BEBEBE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  [class*='btn'][class*='-primary'], [class*='btn'][class*='-secondary'], [class*='btn'][class*='-success'], [class*='btn'][class*='-danger'], [class*='btn'][class*='-warning'], [class*='btn'][class*='-info'], [class*='btn'][class*='-dark'] {
    color: #ffffff; }
  [class*='btn'][class*='-primary']:hover {
    background-color: #0760bf; }
  [class*='btn'][class*='-secondary']:hover {
    background-color: #575e65; }
  [class*='btn'][class*='-success']:hover {
    background-color: #23943d; }
  [class*='btn'][class*='-info']:hover {
    background-color: #0e8496; }
  [class*='btn'][class*='-warning']:hover {
    background-color: #e6ae06; }
  [class*='btn'][class*='-danger']:hover {
    background-color: #bd2b3a; }
  [class*='btn'][class*='-dark']:hover {
    background-color: #282a36; }
  [class*='btn'][class*='-light']:hover {
    background-color: #dfe3e7; }
  [class*='btn'][class*='-outlined'] {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid grey; }
    [class*='btn'][class*='-outlined']:hover {
      color: #ffffff;
      border-color: rgba(12, 12, 12, 0.25);
      background-color: #D3D3D3; }
    [class*='btn'][class*='-outlined'][class*='-primary'] {
      color: #007bff;
      border-color: #007bff; }
      [class*='btn'][class*='-outlined'][class*='-primary']:hover {
        color: #ffffff;
        background-color: #007bff; }
    [class*='btn'][class*='-outlined'][class*='-secondary'] {
      color: #6c757d;
      border-color: #6c757d; }
      [class*='btn'][class*='-outlined'][class*='-secondary']:hover {
        color: #ffffff;
        background-color: #6c757d; }
    [class*='btn'][class*='-outlined'][class*='-success'] {
      color: #28a745;
      border-color: #28a745; }
      [class*='btn'][class*='-outlined'][class*='-success']:hover {
        color: #ffffff;
        background-color: #28a745; }
    [class*='btn'][class*='-outlined'][class*='-danger'] {
      color: #dc3545;
      border-color: #dc3545; }
      [class*='btn'][class*='-outlined'][class*='-danger']:hover {
        color: #ffffff;
        background-color: #dc3545; }
    [class*='btn'][class*='-outlined'][class*='-warning'] {
      color: #ffc107;
      border-color: #ffc107; }
      [class*='btn'][class*='-outlined'][class*='-warning']:hover {
        color: #ffffff;
        background-color: #ffc107; }
    [class*='btn'][class*='-outlined'][class*='-info'] {
      color: #17a2b8;
      border-color: #17a2b8; }
      [class*='btn'][class*='-outlined'][class*='-info']:hover {
        color: #ffffff;
        background-color: #17a2b8; }
    [class*='btn'][class*='-outlined'][class*='-dark'] {
      color: #343a40;
      border-color: #343a40; }
      [class*='btn'][class*='-outlined'][class*='-dark']:hover {
        color: #ffffff;
        background-color: #343a40; }
    [class*='btn'][class*='-outlined'][class*='-light'] {
      color: #BEBEBE;
      border-color: #dfe3e7; }
      [class*='btn'][class*='-outlined'][class*='-light']:hover {
        color: #ffffff;
        background-color: #BEBEBE; }

.grouped-buttons {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle; }
  .grouped-buttons [class*='btn'] {
    border-radius: 0; }
  .grouped-buttons :first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .grouped-buttons :last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

[class*='pageBanner-'] {
  width: 100%;
  background-color: #D3D3D3;
  border-bottom: 1px solid #cecece; }
  [class*='pageBanner-'] h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #142029; }
  [class*='pageBanner-'] h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.0rem; }

.pageBanner-sm {
  padding: 20px 0; }

.pageBanner-md {
  padding: 40px 0; }

.pageBanner-lg {
  padding: 60px 0; }

.animatedBanner {
  background: linear-gradient(40deg, #1b3261, #233441);
  background-size: 400% 400%;
  -webkit-animation: animatedBanner 3s ease infinite;
  -moz-animation: animatedBanner 3s ease infinite;
  animation: animatedBanner 3s ease infinite; }

@-webkit-keyframes animatedBanner {
  0% {
    background-position: 100% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 100% 0%; } }

@-moz-keyframes animatedBanner {
  0% {
    background-position: 100% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 100% 0%; } }

@keyframes animatedBanner {
  0% {
    background-position: 100% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 100% 0%; } }

.main body {
  padding-top: 0;
  background: url("../../img/backgrounds/AdobeStock_101916353.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bonsaiIntro {
  margin-top: 22%;
  color: #142029;
  padding: 20px; }

.bonsaiIntro h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-left: -4px;
  color: #a33636; }

.bonsaiIntro h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2.0rem;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 20px; }

.bonsaiIntro p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1.5rem; }

.bonsaiIntro p:last-of-type {
  margin-bottom: 35px; }

.seedFeature {
  font-weight: 500;
  font-style: italic;
  color: #461617; }

.shade:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: -2;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 29%, white 62%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(29%, rgba(255, 255, 255, 0.47)), color-stop(62%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 29%, white 62%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 29%, white 62%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 29%, white 62%, white 100%); }

.docs [class*='alert'] {
  margin: 10px 0; }

.code-example-box {
  margin: 20px 0 30px 0; }

.code-example-box [class*='btn'] {
  margin-bottom: 5px; }

.example-panel {
  padding: 20px;
  background: #F5F5F5;
  border: 3px solid #D3D3D3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0; }

.code-example-box .hljs {
  margin: -10px 0 10px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

#rightSidebar ul {
  border-left: 1px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#929292), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#929292, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#929292, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(#929292, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, #929292, rgba(0, 0, 0, 0)) 1 100%; }

.soon body {
  padding-top: 0; }

[class*='-primary'] {
  background-color: #007bff; }

[class*='-secondary'] {
  background-color: #6c757d; }

[class*='-success'] {
  background-color: #28a745; }

[class*='-danger'] {
  background-color: #dc3545; }

[class*='-warning'] {
  background-color: #ffc107; }

[class*='-info'] {
  background-color: #17a2b8; }

[class*='-light'] {
  background-color: #f8f9fa; }

[class*='-dark'] {
  background-color: #343a40; }

[class*='-blue'] {
  background-color: #007bff; }

[class*='-indigo'] {
  background-color: #6610f2; }

[class*='-purple'] {
  background-color: #6f42c1; }

[class*='-pink'] {
  background-color: #e83e8c; }

[class*='-red'] {
  background-color: #8d1422; }

[class*='-orange'] {
  background-color: #fd7e14; }

[class*='-yellow'] {
  background-color: #ffc107; }

[class*='-green'] {
  background-color: #28a745; }

[class*='-teal'] {
  background-color: #20c997; }

[class*='-cyan'] {
  background-color: #17a2b8; }

[class*='-white'] {
  background-color: #ffffff; }

[class*='-grey'] {
  background-color: #808080; }

[class*='-dark-grey'] {
  background-color: #343a40; }

.primary {
  color: #007bff; }

.secondary {
  color: #6c757d; }

.success {
  color: #28a745; }

.danger {
  color: #dc3545; }

.warning {
  color: #ffc107; }

.info {
  color: #17a2b8; }

.light {
  color: #f8f9fa; }

.dark {
  color: #343a40; }

.blue {
  color: #007bff; }

.indigo {
  color: #6610f2; }

.purple {
  color: #6f42c1; }

.pink {
  color: #e83e8c; }

.red {
  color: #8d1422; }

.orange {
  color: #fd7e14; }

.yellow {
  color: #ffc107; }

.green {
  color: #28a745; }

.teal {
  color: #20c997; }

.cyan {
  color: #17a2b8; }

.white {
  color: #ffffff; }

.grey {
  color: #808080; }

.dark-grey {
  color: #343a40; }

.alrt [class*='alert'] {
  margin: 10px 0; }

.grid, .grid-fw {
  padding: 0 30px;
  margin: 0 auto; }

[class*='pageBanner-'] {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0; }

.gridDemo [class*='col-'] {
  padding-right: 0px !important;
  padding-left: 5px !important; }

.gridDemo [class*='col-'] > p {
  background-color: #808080;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
  color: #fff; }

* {
  outline: 0; }

/* Bonsai Syntax Highlighting Theme for Highlight.js v1.0 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 20px 0 0 0;
  margin: 10px 0;
  line-height: 1.257rem;
  background: #22284a;
  border-radius: 3px;
  color: #f8f8f2; }

.hljs-built_in {
  color: #8be9fd; }

.hljs-selector-tag {
  color: #8be9fd;
  font-weight: bold; }

.hljs-section {
  color: #8be9fd;
  font-weight: bold; }

.hljs-link {
  color: #8be9fd; }

.hljs-keyword {
  color: #ff79c6;
  font-weight: bold; }

.hljs-subst {
  color: #f8f8f2; }

.hljs-title {
  color: #50fa7b;
  font-weight: bold; }

.hljs-string {
  color: #f1fa8c; }

.hljs-meta {
  color: #f1fa8c; }

.hljs-name {
  color: #f1fa8c;
  font-weight: bold; }

.hljs-type {
  color: #f1fa8c;
  font-weight: bold; }

.hljs-attr {
  color: #f1fa8c; }

.hljs-symbol {
  color: #f1fa8c; }

.hljs-bullet {
  color: #f1fa8c; }

.hljs-addition {
  color: #f1fa8c; }

.hljs-variable {
  color: #f1fa8c; }

.hljs-template-tag {
  color: #f1fa8c; }

.hljs-template-variable {
  color: #f1fa8c; }

.hljs-comment {
  color: #6272a4; }

.hljs-quote {
  color: #6272a4; }

.hljs-deletion {
  color: #6272a4; }

.hljs-literal {
  font-weight: bold;
  color: #bd93f9; }

.hljs-doctag {
  font-weight: bold; }

.hljs-strong {
  font-weight: bold; }

.hljs-number {
  color: #bd93f9; }

.hljs-emphasis {
  font-style: italic; }
