// ----- Base Variables -----------------------------------------------

// Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// ----- Component Variables ------------------------------------------

// Navbar
$navbar-color: #2c2c2c;
$navbar-height: 20px;
$navbar-link-spacing: 8px;
$navbar-text-color: #fff;
$navbar-text-hover-color: #bbb;
// ----- Helper Variables ---------------------------------------------

// ----- Layout Variables ---------------------------------------------

// Grid System  
$gutters: 50px;
$gridPadding: 15px;
$colSpacing: 5px;
$gridsize: 12;
$breakpoints: ("xs": 420px, "sm": 768px, "md": 992px, "lg": 1200px);

// The Variable below are used for demo purposes and should be 
// replaced with your own. They are left in here for you to see
// the structure of the scss.

// ----- Page Variables -----------------------------------------------

// ----- Theme Variables ----------------------------------------------

