// ----- Grid System Variables -----------------------------------------------
$gutters: 15px;
$gridPadding: 15px;
$colSpacing: 5px;
$gridsize: 12; // Grid Sizes must be divisible by two.
// Note: Breakpoints in grid are named for your classes. 
// To edit Media queries for easier use in your css use the Mixins Variables
$breakpoints: ("xs": 576px, "sm": 768px, "md": 992px, "lg": 1200px);
// ----- Mixin Breakpoints -----------------------------------------------
$mixinBreakpoints: (
	// Grid Specific
	"xs": 576px, 
	"sm": 768px, 
	"md": 992px, 
	"lg": 1200px,
	// Custom Breakpoints
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
// ----- Base Variables -----------------------------------------------

// Base Elements for all pages Body tag
$body-color: #fff;
$body-line-height: 1;

// Fonts
$primary-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$secondary-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

//Base Color Scheme
$primary-color:blue;
$secondary-color:green;
$tertiary-color:red;

//Alternate Color Schemes
$success-color:green;
$failure-color:red;
$warning-color:yellow;
$info-color:purple;

// ----- Component Variables ------------------------------------------

// Navbar
$navbar-font-size-sm: 0.75rem;
$navbar-font-size-md: 0.875rem;
$navbar-color: #142029;
$navbar-padding: .5rem 1rem;
$navbar-link-spacing: 8px 0;
$navbar-line-height: 1.875rem;
$navbar-text-color: rgba(255, 255, 255, 0.75);
$navbar-text-hover-color: #fff;

// Navbar Buttons
// Outlined Buttons
$navbar-button-outline-color: #458047;
$navbar-button-outline-color-hover: #4eaf45;
// Solid Buttons
$navbar-button-text-color:#000;
$navbar-button-text-color-hover:#fff;
$navbar-button-color:#271010;
$navbar-button-color-hover:#458047;

// sidebar
$sidebar-color: #f7f7f7 ;
$sidebar-padding:  15px;
$sidebar-link-spacing: 8px;
$sidebar-text-color: #000;
$sidebar-text-hover-color: #68a097;

// sidebar Buttons
// Outlined Buttons
$sidebar-button-outline-color: #458047;
$sidebar-button-outline-color-hover: #4eaf45;
// Solid Buttons
$sidebar-button-text-color:#000;
$sidebar-button-text-color-hover:#fff;
$sidebar-button-color:#271010;
$sidebar-button-color-hover:#271010;

// Page Buttons
// Outlined Buttons
$button-outline-text-color: #000;
$button-outline-text-color-hover: #fff;
$button-outline-color: #848483;
$button-outline-color-hover: #271010;
// Solid Buttons
$navbar-button-text-color:#000;
$navbar-button-text-color-hover:#fff;
$sidebar-button-text-color:#000;
$sidebar-button-text-color-hover:#fff;
$button-color:#271010;
$button-color-hover:#142029;

// Dual Sidebars
$right-sidebar-width: 270px;
$left-sidebar-width: 200px;
$left-sidebar-active-fntsize: 1.09rem;


// pillbar
$pillbar-color: #142029;
$pillbar-padding: .5rem 1rem;
$pillbar-link-spacing: 8px 0;
$pillbar-text-color: rgba(255, 255, 255, 0.75);
$pillbar-text-hover-color: #fff;

// pillbar Buttons
// Outlined Buttons
$pillbar-button-outline-color: #458047;
$pillbar-button-outline-color-hover: #4eaf45;
// Solid Buttons
$pillbar-button-text-color:#000;
$pillbar-button-text-color-hover:#fff;
$pillbar-button-color:#271010;
$pillbar-button-color-hover:#458047;

// Buttons
$btn-font-size: 1.0rem;
$btn-padding: 0.9375rem;
$btn-border-radius: 3px;
$btn-margin-bottom: 10px;

// Outlined Buttons
$btn-outlined-border:1px solid #142029;  
$btn-outlined-background: transparent;

// Outlined Button Hovers
$btn-outlined-color-hover:#fff;
$btn-outlined-border-hover: 1px solid #142029;
$btn-outlined-background-hover: #a33636; 

// Solid Buttons
$btn-solid-border: 1px solid #142029;  
$btn-solid-background: #142029;

// Solid Button Hovers
$btn-solid-color-hover:#cecece;
$btn-solid-border-hover: 1px solid #4a0909;
$btn-solid-background-hover: #a33636; 


// The Variable below are used for demo purposes and should be 
// replaced with your own. They are left in here for you to see
// the structure of the scss.

// ----- Page Variables -----------------------------------------------

// ----- Theme Variables ----------------------------------------------

