// Responsive Images
.center-content { text-align: center;}
.flexCon { height: 100vh; display: flex; justify-content: center; align-items: center; }
.fixed { position: fixed !important; }
.fixed-top { position: fixed !important; top:0; }
.fixed-bottom { position: fixed !important; bottom:0;}
.flt-left { float: left; }
.flt-right { float: right; }
.responsive-img { width: 100%; height: auto; }
.show { visibility: visible !important; }
.hide { visibility: hidden; }


// Helpful Components Styles

.cell { border: 1px solid #fff;}