input[type=text],
input[type=password],
input[type=email], {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
  {
     border: 1px solid #555;
}

// Html Form Buttons
input[type=submit],
input[type=reset],
input[type=button] {
  padding: 5px 10px;
}

// HTML Date Picker
// Icon (use whatever you want here)
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
