#pageWrapper {
  padding-left: 0;
  padding-top: $body-top-push-mobile;
  @include easeIn;
}

#pageWrapper.toggled {
  padding-left: $left-sidebar-width;
  #sidebar {
    width: $left-sidebar-width;
  }
  #page-content {
    position: absolute;
    margin-right: -$left-sidebar-width;
  }
}

#sidebar {
  width: 0;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: $left-sidebar-width;
  margin-left: -$left-sidebar-width;
  overflow-y: auto;
  background: $left-sidebar-color;
  @include easeIn;
}

#page-content {
  width: 100%;
  position: absolute;
}

.leftSidebar {
  position: absolute;
  top: 0;
  height: 100%;
  width: $left-sidebar-width;
  padding-top: $left-sidebar-padding-top;
  border-right: $left-sidebar-border-size;
  border-style: $left-sidebar-border-style;
  border-color: $left-sidebar-border-color;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.nav-items {
  padding-bottom: $left-sidebar-nav-items-spacing;
}
.navHeader {
  color: $left-sidebar-navHeader-color;
  font-size: $left-sidebar-navHeader-font-size;
  font-weight: $left-sidebar-navHeader-font-weight;
  text-transform: uppercase;
}
.sidebarItems {
  li {
    font-size: $left-sidebar-fntsize;
    text-indent: 20px;
    line-height: 2.0rem;
    letter-spacing: .05rem;
    a {
      display: block;
      text-decoration: none;
      color: $left-sidebar-text-color;
      &:hover {
        color: $left-sidebar-hover-text-color;
        background: $left-sidebar-hover-background;
      }
      &:active {
        background: $left-sidebar-hover-active-background;
      }
      &:focus {
        background: $left-sidebar-hover-focus-background;
      }
    }
  }
}

@media (min-width:768px) {
  #pageWrapper {
    padding-left: $left-sidebar-width;
    padding-top: $body-top-push;
  }
  #pageWrapper.toggled {
    padding-left: 0px;
    position:absolute;
    #sidebar {
      width: 0px;
    }
    #page-content {
      position: relative;
      margin-right: 0;
    }
  }
  #sidebar {
    width: $left-sidebar-width;
  }
  #page-content {
    position: relative;
  }
}

// Hover state for navbar when in the toggled mode while in Fullscreen
// (only if icons are available)
#pageWrapper.toggled #sidebar:hover {
    position: fixed;
    width: 280px;
}

// Font Awesome 5 Resets for icon placement (will be placed in docs scss)
.sidebarItems {
  .fa-fw {
    width: 47px;
    margin-left: -23px;
    margin-right: 10px;
  }
}
