.clpsContent {
  display: none;
  max-height: 1;
  overflow: hidden;
  transition:height 0.3s ease-out;
  background-color: #f1f1f1;
}
.clpsContent.open {
  padding: 20px;
  display: block;
  height:auto;
  overflow: hidden;
  transition:height 0.3s ease-out;
  background-color: #f1f1f1;
}
.accordion {
  display: inline-block;
  width: 100%;
  button {
    width: 100%;
    border-radius: 0;
  }
}
