// ----- BonsaiUI Navabar -----------------------------------------------
// Ver. 1.0
// ----------------------------------------------------------------------

// NOTE: The easiest way to edit BonsaiUI is via the variables.scss
//

// Main Navbar
.navbar {
  width: 100%;
  text-align: center;
  padding: 0 .75rem ;
  background-color: $navbar-color;
  z-index: 9000;
  letter-spacing: .05rem;
  .brand {
    padding: 1rem 0.35rem 0 0.35rem;
	a {
	  text-align: center;
	  font-size: 1.3rem !important;
	  line-height: 1.125rem;
	}
	&:hover {
	  text-align: center;
	  font-size: 1.3rem !important;
	  line-height: 1.125rem;
    }
	@include mq('tablet') {
	  float: left;
	  display: inline-block;
	  padding: 1.25rem .875rem 1.25rem .45rem;
	}
  }
  ul {
    display: inline-block;
	  @include mq('tablet') {
	    display: inline-block; float: left;
	  }
  }
  li {
    padding: 1.0rem .35rem;
    line-height: $navbar-line-height;
    float: left;
  }
  a {
    color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	font-size: .75rem;
	  &:hover {
        text-decoration: none;
		color: #fff;
	  }
	  @include mq('tablet') {
	    font-size:$navbar-font-size-sm;
      }
	  @include mq('md') {
	    font-size: $navbar-font-size-md;
	  }
  }
  .active {
    a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
    }
  }
// Navbar Buttons
  .btn-solid {
    border-radius: 0;
	background:$navbar-button-color;
  }
  .btn-outlined {
    border-color:$navbar-button-outline-color;
	padding: 10px 15px;
	font-weight: 600;
	font-size: .75rem;
	  &:hover {
	    color:#fff;
		border: 1px solid $navbar-button-outline-color-hover;
		background: $navbar-button-color-hover;
	 }
  }
}
