.clpsContent {
  display: none;
  max-height: 1;
  overflow: hidden;
  transition:height 0.3s ease-out;
  background-color: #f1f1f1;
}
.clpsContent.open {
  padding: 20px;
  display: block;
  height:auto;
  overflow: hidden;
  transition:height 0.3s ease-out;
  background-color: #f1f1f1;
}

.dropdown.clpsContent.open {
    position: absolute;
    padding: 0px;
    display: block;
    height: auto;
    overflow: hidden;
    transition: height 0.3s ease-out;
    background-color: #f1f1f1;
    line-height: 2.5rem;
    ul {
      margin: 0;
      a {
        color: black !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
          background-color: $light-shade;
        }
      }
    }
}

.accordion {
  display: inline-block;
  width: 100%;
  button {
    width: 100%;
    border-radius: 0;
  }
}

.uni-close {
  display: block;
  float:right;
  cursor: pointer;
}
