// ------ NOTE!!! ------
// This nav from BonsaiUI is still in development,
// and this is just the bare minium used for the demonstration of BonsaiApp.
// Please feel free to delete and create your own.
// And remeber, the easiest way to edit BonsaiUI is via the variables.scss

/* Dual Sidebars -  Brian Orr - @digitalreligion (http://www.digitalreligion.net/) */
/* ----------DEMO STYLES ---------- */

/* ----------DUAL SIDEBAR STYLES ---------- */
/* Position & Size your Side bars */
#leftSidebar { left: 0px; width: $left-sidebar-width; height: 100%; background: #191431; z-index: 1; position: fixed;  overflow-y: hidden; }
#rightSidebar { right: 0; width: $right-sidebar-width; height: 100%; background-color: #e2e2e2; z-index: 1; position: fixed; overflow-y: auto; }

/* Smoothen Animation */
#rightSidebar, #leftSidebar {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

/* Toggle Styles */
#pageWrapper { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#pageWrapper.left-toggled { padding-left: $left-sidebar-width; }
#pageWrapper.right-toggled { padding-right: $right-sidebar-width; }
#pageContent { width: 100%; position: absolute; padding: 10px 5px 0 5px; }
@media(min-width:768px) {
#pageWrapper { padding: 0 $right-sidebar-width 0 $left-sidebar-width; }
#pageWrapper.left-toggled { padding: 0 $right-sidebar-width 0 0px;}
#pageWrapper.right-toggled { padding: 0 0 0 $left-sidebar-width;}
#pageWrapper.left-toggled.right-toggled { padding: 0;}
#pageWrapper.left-toggled #leftSidebar, #pageWrapper.right-toggled #rightSidebar { width: 0; padding: 0; }
#pageContent { position: relative; padding: 10px 5px 0 5px; }
#pageWrapper.toggled #pageContent { position: relative; margin-right: 0; }}
/* You can specify diferent sizes here for possible button navs when in mobile mode */
@media(max-width:768px) { #rightSidebar, #leftSidebar { width: 0px; }}
/* Sidebar Styles - You can delete these and use your own navigation styles */
.rightsSidebarContent { position: absolute; top: 0; width: $right-sidebar-width; margin: 0; padding: 0; list-style: none; }
.rightsSidebarContent P {padding: 30px 15px; color:#000000;}
.leftSidebarContent { position: absolute; top: 0; width: $left-sidebar-width; margin: 0; padding: 0;	list-style: none; }
.leftSidebarContent li { text-indent: 15px; line-height: 40px; }
.leftSidebarContent li a { display: block; text-decoration: none; color: #999999; }
.leftSidebarContent li a:hover { text-decoration: none; color: #fff; background: rgba(255,255,255,0.2); }
.leftSidebarContent li a:active, .leftSidebarContent li a:focus { text-decoration: none; }
.leftSidebarContent > .sidebar-brand { height: 65px; font-size: 18px; line-height: 93px; }
.leftSidebarContent > .sidebar-brand a { color: #999999; }
.leftSidebarContent > .sidebar-brand a:hover { color: #fff; background: none; }