// ------ NOTE!!! ------
// This Drop Down Menu from BonsaiUI is still in development,
// and this is just the bare minium used for the demonstration of BonsaiApp.
// Please feel free to delete and create your own.
// And remeber, the easiest way to edit BonsaiUI is via the variables.scss
.dropDownMenu {
    position: relative;
    display: inline-block;
}

#dropDownItems {
	position: fixed;
    display: grid;
	visibility: hidden;
	background-color: #fff;
	cursor: pointer;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top: 20px;
	line-height: 1.2px;
	min-width: 150px;
	-webkit-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.33);
       -moz-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.33);
            box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.33);
}

#dropDownItems a {
	color: #000;
	padding: 10px;
	width: 100%;
}
#dropDownItems li a:hover {
	background-color:inherit;
	padding: 0 10px ;
}

#dropDownItems li:hover a {
	color: #fff;

}
#dropDownItems li{ 
padding: 10px 0;
}
#dropDownItems li:hover {
  background-color: #68a097;
}
#dropDownItems li:hover:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}




/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



