/* Mobile Default page wrappers padding are zero to start them closed. */
#pageWrapper {
  padding-top: $body-top-push-mobile;
  padding-left: 0;
  padding-right: 0;
  @include easeIn
  /* 768px or Higher Display Sidebars. */
  @include mq('tablet') {
    padding-top: $body-top-push;
    padding-left: $left-sidebar-width;
    padding-right: $right-sidebar-width;
    @include easeIn
  }
}
/* Make all sidebars fill the height of the screen,not wrap text, and scroll */
#leftSidebar, #rightSidebar {
  height: 100%;
  z-index: 1000;
  position: fixed;
  white-space: nowrap;
  overflow-y: auto;
  @include easeIn
}
/* Leftbar Closed style */
#leftSidebar {
  width: 0px;
  left: $left-sidebar-width;
  margin-left: -$left-sidebar-width;
  background-color: $left-sidebar-background-color;
  a {
    color: $left-sidebar-text-color;
  }
  /* Leftbar open style */
  @include mq('tablet') {
    width: $left-sidebar-width;
  }
}
/* Rightbar Closed style */
#rightSidebar {
  width: 0;
  right: $right-sidebar-width;
  margin-right: -$right-sidebar-width;
  background-color: $right-sidebar-background-color;
  a {
    color: $right-sidebar-text-color;
  }
  /* Rightbar open style */
  @include mq('tablet') {
    width: $right-sidebar-width;
  }
}
/* Leftbar Open Toggled */
#pageWrapper.toggled {
  padding-left: 0;
  #leftSidebar {
    width: $left-sidebar-width;
  }
}
/* Rightbar Open Toggled */
#pageWrapper.r-toggled {
  padding-right: 0;
  #rightSidebar {
    width: $right-sidebar-width;
  }
}
// Media Query : Above
@media (min-width:768px) {
  /* Leftbar Closed Toggle */
  #pageWrapper.toggled {
    padding-left: 0;
    #leftSidebar {
      width: 0;
    }
  }
  /* Rightbar Closed Toggle */
  #pageWrapper.r-toggled {
    padding-right: 0;
    #rightSidebar {
      width: 0;
    }
  }
}
// Common link Styling for that can be used for both sidebars.
.nav-group {
  padding-bottom: $sidebar-nav-items-spacing;
}
/* Bold Headers for Grouped Navigation  Items */
.navHeader {
  color: $sidebar-navHeader-color;
  font-size: $sidebar-navHeader-font-size;
  font-weight: $sidebar-navHeader-font-weight;
  text-transform: uppercase;
}
/* Default Hover States for sidebars */
.sidebarItems {
  li {
    font-size: $sidebar-fntsize;
    text-indent: 20px;
    line-height: 2.0rem;
    letter-spacing: .05rem;
    a {
      display: block;
      text-decoration: none;
      &:hover {
        color: $left-sidebar-hover-text-color;
        background: $left-sidebar-hover-background;
      }
      &:active {
       background: $left-sidebar-hover-active-background;
      }
      &:focus {
        background: $left-sidebar-hover-focus-background;
      }
    }
  }
}
