<header class="navbar fixed-top" role="navigation">
  <div class="brand">
    <a href="/">BonsaiApp</a>
  </div>
  <ul>
    <li><a href="/docs">Documentation</a></li>
    <li><a href="/newView">Starter Pages</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbttn">Themes</a>
      <div class="dropdown-content">
        <a href="#">Dark One</a>
        <a href="#">Office Light</a>
        <a href="#">Furturistic Minimal</a>
      </div>
    </li>
  </ul>
  <ul class="flt-right">
    <!-- This li is using an effect class located in the scss components folder -->
    <li><a leftbar-toggle href="javascript:void(0);"><i class="fa fa-bars"></i></a></li>
    <li><a rightbar-toggle href="javascript:void(0);"><i class="fa fa-bars"></i></a></li>
  </ul>
</header>
