<aside id="leftSidebar">
  <nav class="leftSidebar">
    <ul class="sidebarItems">
      <li class="nav-items">
        <span class="navHeader">Overview</span>
        <ul>
          <li><a href="/docs">Quick Introduction</a></li>
          <li><a href="/designers">Designers</a></li>
          <li><a href="/developers">Developers</a></li>
        </ul>
      </li>
      <li class="nav-items">
        <span class="navHeader">Layout</span>
        <ul>
          <li><a href="/sass-grid">Sass Grid System</a></li>
          <li><a href="/flex-grid">Flex Grid System</a></li>
          <li><a href="/css-grid">CSS Grid System</a></li>
        </ul>
      </li>
      <li class="nav-items">
        <span class="navHeader">BonsaiApp</span>
        <ul>
          <li><a href="Javascript:void(0);">Angular BaseApp</a></li>
          <li><a href="Javascript:void(0);">Component Directives</a></li>
          <li><a href="Javascript:void(0);">Vanilla Components</a></li>
        </ul>
      </li>
      <li class="nav-items">
        <span class="navHeader">BonsaiUI</span>
        <ul>
          <li><a href="/alerts">Alerts</a></li>
          <li><a href="/badges">Badges</a></li>
          <li><a href="/breadcrumbs">Breadcrumbs</a></li>
          <li><a href="/buttons">Buttons</a></li>
          <li><a href="/cards">Cards</a></li>
          <li><a href="/carousel">Carousel</a></li>
          <li><a href="/collapse">Collapse</a></li>
          <li><a href="/dropdowns">Dropdowns</a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/inputs">Inputs</a></li>
          <li><a href="/page-banners">Page Banners</a></li>
          <li><a href="/list-groups">List Groups</a></li>
          <li><a href="/modals">Modals</a></li>
          <li><a href="/navbars">Navbars</a></li>
          <li><a href="/sidebars">Sidebars</a></li>
          <li><a href="/pillbars">Pillbars</a></li>
          <li><a href="/paganation">Pagnation</a></li>
          <li><a href="/popovers">Popovers</a></li>
          <li><a href="/progress-bars">Progress Bars</a></li>
          <li><a href="/tooltips">Tooltips</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
