<div id="pageWrapper">
  <aside id="leftSidebar">
    <nav class="sidebar">
      <ul class="leftbar">
        <li><a href="/docs">Quick Introduction</a></li>
        <li><a href="#" class="heading">Getting Started</a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="/ui">Bonsai UI</a>
          <ul class="submenu">
            <li><a>Alerts</a></li>
            <li><a>Badges</a></li>
            <li><a>Breadcrumbs</a></li>
            <li><a>Buttons</a></li>
            <li><a>Button Groups</a></li>
            <li><a>Cards</a></li>
            <li><a>Carousel</a></li>
            <li><a>Collapse</a></li>
            <li><a>Dropdowns</a></li>
            <li><a>Forms</a></li>
            <li><a>Inputs</a></li>
            <li><a>Page Banners</a></li>
            <li><a>List Groups</a></li>
            <li><a>Modals</a></li>
            <li><a>Navbars</a></li>
            <li><a>Sidebars</a></li>
            <li><a>Pillbars</a></li>
            <li><a>Pagnation</a></li>
            <li><a>Popovers</a></li>
            <li><a>Progress</a></li>
            <li><a>Tooltips</a></li>
          </ul>
        </li>
        <li><a href="#">Globals</a></li>
        <li><a href="#">Layout</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Utilties</a></li>
      </ul>
    </nav>
  </aside>
  <aside id="rightSidebar">
    <nav class="sidebar">
      <ul class="rightbar">
        <li><a href="#">What is Bonsai UI?</a></li>
        <li><a href="#">What make it unique?</a></li>
        <li><a href="#">Familiarity</a></li>
        <li><a href="#">Variable Design System</a></li>
        <li><a href="#">Requirements</a></li>
        <li><a href="#">Why Angular?</a></li>
        <li><a href="#two">Support</a></li>
      </ul>
    </nav>
  </aside>
  <article class="pagecontent">
    <section class="pageBanner-md">
      <div class="grid-fw">
        <div class="row">
          <h1>Alerts &amp; Notifications</h1>
          <h2>Alerts provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</h2>
        </div>
      </div>
    </section>
    <div class="grid-fw">
      <section id="how" class="row">
        <h1>Examples.</h1>
        <p>Alerts are available for any length of text, as well as an optional dismiss button.</p>
      </section>
      <section id="philos" class="row">
        <h1>Example heading <span class="badge">New</span></h1>
        <h2>Example heading <span class="badge-primary">New</span></h2>
        <h3>Example heading <span class="badge-secondary">New</span></h3>
      </section>
    </div>
  </article>
</div>
