<div id="top" class="pageBanner-lg">
  <div class="grid">
    <div class="row">
      <h1>BonsaiUI Components</h1>
      <h2>Dozens of reusable components built to provide dropdowns, input groups, navigation, alerts, and more. And with a highly organized code structue that makes our components much lighter than Bootstrap!</h2>
    </div>
  </div>
</div>
<div class="grid">
  <div class="row">
    <div class="col-10sm">
      <div class="row">
        <h1>SaSS Grid System</h1>
        <p>In its most basic terms, a grid system is a structure comprising a series of horizontal and vertical lines which intersect and are then used to arrange content. In even more basic terms (which make it easier to understand!) a grid system is a way of providing a system that designers can work with to structure and present content and imagery in a much more readable, manageable way.</p>
        <p>Ours is built with Sass and is easily customizable in the variable.scss</p>
      </div>
      <div class="gridDemo">
        <div class="row">
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6xs">
            <p>col-6</p>
          </div>
          <div class="col-4xs">
            <p>col-4</p>
          </div>
          <div class="col-2xs">
            <p>col-2</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6xs col-8lg">
            <p>col-8</p>
          </div>
          <div class="col-6xs col-4lg">
            <p>col-4</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4xs">
            <p>col-4</p>
          </div>
          <div class="col-4xs">
            <p>col-4</p>
          </div>
          <div class="col-4xs">
            <p>col-4</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12xs">
            <p>col-12</p>
          </div>
        </div>
      </div>
      <div class="row" id="dropDown" >
      	<h1>Dropdowns</h1>
      </div>
    </div>
    <div class="col-2sm">
      <h2>Components</h2>
      <nav class="sidebar">
       <ul>
        <li><a href="#top">SaSS Grid</a></li>
        <li><a href="#dropDown">Dropdowns</a></li>
        <li><a href="JavaScript:void();">Button groups</a></li>
        <li><a href="JavaScript:void();">Button dropdowns</a></li>
        <li><a href="JavaScript:void();">Input groups</a></li>
        <li><a href="JavaScript:void();">Navs</a></li>
        <li><a href="JavaScript:void();">Navbar</a></li>
        <li><a href="JavaScript:void();">Breadcrumbs</a></li>
        <li><a href="JavaScript:void();">Pagination</a></li>
        <li><a href="JavaScript:void();">Labels</a></li>
        <li><a href="JavaScript:void();">Badges</a></li>
        <li><a href="JavaScript:void();">Jumbotron</a></li>
        <li><a href="JavaScript:void();">Page header</a></li>
        <li><a href="JavaScript:void();">Thumbnails</a></li>
        <li><a href="JavaScript:void();">Alerts</a></li>
        <li><a href="JavaScript:void();">Progress bars</a></li>
        <li><a href="JavaScript:void();">Media object</a></li>
        <li><a href="JavaScript:void();">List group</a></li>
        <li><a href="JavaScript:void();">Panels</a></li>
        <li><a href="JavaScript:void();">Responsive embed</a></li>
        <li><a href="JavaScript:void();">Wells</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>
