<div id="top" class="pageBanner-lg animatedBanner">
  <div class="grid">
    <div class="row">
      <h1>BonsaiUI Style Guide</h1>
      <div class="col-10sm">
        <h2>Dozens of styles built to provide easy customization. Helpers, Mix-ins, functions, and more.</h2>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="row">
    <div class="col-10sm">
      <div class="row" id="grid">
        <h1>SaSS Grid Systems</h1>
        <p>In its most basic terms, a grid system is a structure comprising a series of horizontal and vertical lines which intersect and are then used to arrange content. In even more basic terms (which make it easier to understand!) a grid system is a way of providing a system that designers can work with to structure and present content and imagery in a much more readable, manageable way.</p>
        <p>Ours is built with Sass and is easily customizable in the variable.scss</p>
      </div>
      <div class="gridDemo">
        <div class="row">
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
          <div class="col-1xs">
            <p>col-1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6xs">
            <p>col-6</p>
          </div>
          <div class="col-4xs">
            <p>col-4</p>
          </div>
          <div class="col-2xs">
            <p>col-2</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6xs col-8lg">
            <p>col-8</p>
          </div>
          <div class="col-6xs col-4lg">
            <p>col-4</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4xs">
            <p>col-4</p>
          </div>
          <div class="col-4xs">
            <p>col-4</p>
          </div>
          <div class="col-4xs">
            <p>col-4</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12xs">
            <p>col-12</p>
          </div>
        </div>
      </div>
      <!-- Drop Downs -->
      <div class="row" id="dropDown" >
      	<h1>Dropdowns</h1>
      </div>
      <!-- Drop Downs -->
      <div class="row" id="inputs" >
      	<h1>Inputs</h1>
      </div>
    </div>
    <div class="col-2sm">
      <h2>Style Guide</h2>
      <nav class="sidebar">
       <ul>
        <li>
          <a id="sidebarCollapse" href="#" onClick="sidebarCollapse()">Getting Started</a>
          <ul id="sidebarSubmenu">
          	<li><a href="#">HTML 5</a></li>
          	<li><a href="#">Mobile First</a></li>
          	<li><a href="#">Typography and Links</a></li>
          	<li><a href="#">Variables</a></li>
          </ul>  
        </li>
        <li>
          <a href="#grid">SaSS Grid</a>
          <ul class="sidebar-submenu">
          	<li><a href="#">HTML 5</a></li>
          	<li><a href="#">Mobile First</a></li>
          	<li><a href="#">Typography and Links</a></li>
          	<li><a href="#">Variables</a></li>
          </ul>
        
        </li>
        <li><a href="#dropDown">Typography</a></li>
        <li><a href="JavaScript:void();">Tables</a></li>
        <li><a href="JavaScript:void();">Forms</a></li>
        <li><a href="JavaScript:void();">Input groups</a></li>
        <li><a href="JavaScript:void();">Navs</a></li>
        <li><a href="JavaScript:void();">Navbar</a></li>
        <li><a href="JavaScript:void();">Breadcrumbs</a></li>
        <li><a href="JavaScript:void();">Pagination</a></li>
        <li><a href="JavaScript:void();">Labels</a></li>
        <li><a href="JavaScript:void();">Badges</a></li>
        <li><a href="JavaScript:void();">Jumbotron</a></li>
        <li><a href="JavaScript:void();">Page header</a></li>
        <li><a href="JavaScript:void();">Thumbnails</a></li>
        <li><a href="JavaScript:void();">Alerts</a></li>
        <li><a href="JavaScript:void();">Progress bars</a></li>
        <li><a href="JavaScript:void();">Media object</a></li>
        <li><a href="JavaScript:void();">List group</a></li>
        <li><a href="JavaScript:void();">Panels</a></li>
        <li><a href="JavaScript:void();">Responsive embed</a></li>
        <li><a href="JavaScript:void();">Wells</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>
