<div class="flexCon shade">
 <div class="grid">
   <div class="row">
     <div class="col-12xs col-6sm col-7md col-6lg"> <img src="../img/logoLarge.png" class="responsive-img"> </div>
     <div class="col-12xs col-6sm col-4md col-6lg">
       <div  class="bonsaiIntro">
         <div  class="bonsaiIntroContent">
           <h1>BonsaiApp</h1>
           <h2>Develop with ease &amp; peace of mind.</h2>
           <p>A Zen-like Angular Modular BaseApp with a Modern, &amp; Elegant UI built with HTML 5, &amp; SCSS for Rapid Application Development.</p>
           <p>This<span class="seedFeature"> Seed Edition</span> contains only a <span class="seedFeature">grid system</span>, and <span class="seedFeature">basic navigation</span> styles so you can develop your own Angular app without the use of Bonsai-UI</p>
           <button class="btn-solid">Seed Edition</button> 
           <button class="btn-outlined">Start your App today!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>