<div class="flexCon shade">
  <div class="grid">
    <div class="row">
      <div class="col-6sm col-7md col-5lg"> <img src="../img/logoLarge.png" class="responsive-img"> </div>
      <div class="col-6sm col-4md col-7lg">
        <div  class="bonsaiIntro">
         <div  class="bonsaiIntroContent">
          <h1>BonsaiApp</h1>
          <h2>Develop with ease &amp; peace of mind.</h2>
          <p>A complete angular baseApp with an Elegant &amp; Modern UI for rapid application development. </p>
          <p>The Seed Edition contains only a grid system, and basic navigation styles so you can develop your own Angular app without the use of Bonsai-UI</p>
        </div>
		  </div>
      </div>
    </div>
  </div>
</div>
