<div id="pageWrapper">
  <aside id="leftSidebar">
    <nav class="sidebar">
      <ul class="leftbar">
        <li><a href="#">Quick Introduction</a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">The UI</a></li>
        <li><a href="#">Globals</a></li>
        <li><a href="#">Layout</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Utilties</a></li>
        <li><a ng-click="gotoBottom()">Go to bottom</a></li>
      </ul>
    </nav>
  </aside>
  <aside id="rightSidebar">
    <nav class="sidebar">
      <ul class="rightbar">
        <li><a href="#">What is BonsssaiApp?</a></li>
        <li><a href="#">Philosophy</a></li>
        <li><a href="#">Familiarity</a></li>
        <li><a href="#">Variable Design System</a></li>
        <li><a href="#">Requirements</a></li>
        <li><a href="#">Why Angular?</a></li>
        <li><a href="#two">Support</a></li>
      </ul>
    </nav>
  </aside>
  <article class="pagecontent"> 
    <section class="pageBanner-sm">
      <div class="grid-fw">
        <div class="row">
          <h1>Documentation</h1>
          <h2>Get to know BonsaiApp!</h2>
        </div>
      </div>
    </section>
    <div class="grid-fw">
      <section id="whatis" class="row">
        <h1>What is BonsaiApp?</h1>
        <p>BonsaiApp is a Zen-like Angular Modular BaseApp with a Modern, &amp; Elegant UI built with HTML 5,
        &amp; SCSS for Rapid Application Development. The Seed Edition is a bare minimum baseApp that utilizes
        only the BonsaiUI Grid System, Angular Routing, and a highly organizied folder sturcture. All the things
        you need to quickly get started builing your Angular application.</p>
      </section>
      <section id="philos" class="row">
        <h1>Philosophy</h1>
        <p>Framesworks have been a part of developers, and designers arsenal of tools for a while now, and it's 
        no surprise that they are used by millions of developers around the world to get help with jump starting
        their app. But there seems to be a consitant fundemntal flaw with todays Modern Frameworks. Massive Bloat!
        This is increased further after people start writting code ontop of these frameworks while creating thier
        apps, and websites.</p>
      </section>
      <section class="row">
        <h1>Familiarity</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </section>
      <section class="row">
        <h1>Variable Design System</h1>
	    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </section>
      <section class="row">
        <h1>Requirements</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </section>
      <section class="row">
        <h1>Why Angular?</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </section>
      <section class="row">
        <h1>Support</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </section>
      <a id="bottom"></a> You're at the bottom!
    </div>
  </article>
</div>