<div class="pageBanner-lg">
  <div class="grid">
    <div class="row">
      <h1>The Bonsai Way</h1>
      <h2>Stop overwritting, and reseting pre-baked code. Make it yours, simply and easily.</h2>
    </div>
  </div>
</div>
<div class="grid"> 
  <!-- Drop Downs -->
  <div class="row">
   <div class="col-12sm">
    <h1>Perspective</h1>
    <p>Framesworks have been a part of developers, and designers arsenal of tools for a long time now.</p>
       <p>And it is no surprise that they are used by million arond the world to get help with jump starting their app. </p>
       <p>But there seems to be a consitant fundemntal flaw with todays Modern Frameworks. Massive Bloat!</p>
       <p>This is increased further after people start writting code ontop of these frameworks while creating thier apps, and websites.</p>
  </div>
  </div>
</div>
