<div class="flexCon shade">
  <div class="grid">
    <div class="row">
      <div class="col-12xs col-6sm col-7md col-6lg"> <img src="../img/logoLarge.png" class="responsive-img"> </div>
      <div class="col-12xs col-6sm col-4md col-6lg">
        <div  class="bonsaiIntro">
          <div  class="bonsaiIntroContent">
            <h1>Oops! This is empbaressing</h1>
            <h2>BonsaiApp is still in Development and not everything is finihed yet..</h2>
            <p>Comeback later for updates.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>